.place__title {
  grid-area: title;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin: 0;
  max-width: 460px;
  padding: 0;
}

/*768*/
@media screen and (max-width: 984px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
  }
}

/*320*/
@media screen and (max-width: 568px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
    padding: 0 16px;
  }
}
