.photo-grid {
  max-width: 1184px;
  width: calc(100% - 2 * 48px);
  margin: 0 auto 92px;
  display: grid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}
