.photo-grid__item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*1024*/
@media screen and (max-width: 1124px) {
  .photo-grid__item {
    gap: 14px;
  }
}

/*768*/
@media screen and (max-width: 996px) {
  .photo-grid__item {
    gap: 16px;
  }
}

/*320*/
@media screen and (max-width: 568px) {
  .photo-grid__item {
    gap: 12px;
  }
}
