.place__paragraph {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  padding-bottom: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

/*768*/
@media screen and (max-width: 984px) {
  .place__paragraph {
    font-size: 16px;
    padding-bottom: 25px;
  }
}

/*320*/
@media screen and (max-width: 568px) {
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
  }
}
