.place__paragraph {
  margin: 0;
  padding-bottom: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  padding: 0;
}

/*768*/
@media screen and (max-width: 984px) {
  .place__paragraph {
    font-size: 16px;
  }
}

/*320*/
@media screen and (max-width: 568px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
