.lead__image {
  width: 100%;
  margin: 64px auto 0;
}

/*1024*/
@media screen and (max-width: 1024px) {
  .lead__image {
    margin: 56px auto 0;
  }
}

/*320*/
@media screen and (max-width: 568px) {
  .lead__image {
    margin: 40px auto 0;
  }
}
