.intro {
  width: calc(100% - 2 * 148px);
  margin: 92px auto;
}

/*1024*/
@media screen and (max-width: 1124px) {
  .intro {
    width: calc(100% - 2 * 48px);
  }
}

/*768*/
@media screen and (max-width: 984px) {
  .intro {
    margin: 88px auto;
    width: calc(100% - 2 * 24px);
  }
}

/*320*/
@media screen and (max-width: 568px) {
  .intro {
    margin: 64px auto;
    width: calc(100% - 2 * 16px);
  }
}
