.footer__item {
  margin: 0 18px 0 0;
}

.footer__item:last-child {
  margin-right: 0;
}

/*320*/
@media screen and (max-width: 720px) {
  .footer__item {
    margin: 0 0 32px 16px;
  }
}

/*320*/
@media screen and (max-width: 720px) {
  .footer__item:last-child {
    margin: 0 0 48px 16px;
  }
}
