.place {
  max-width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas:
    "title website"
    "image text";
  margin: 0 auto;
}

/*1024*/
@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

/*768*/
@media screen and (max-width: 984px) {
  .place {
    column-gap: 28px;
  }
}

/*320*/
@media screen and (max-width: 568px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
    row-gap: 32px;
  }
}
